<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="76x76" href="https://www.changsub214.github.io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://www.changsub214.github.io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/https://www.changsub214.github.iofavicon-16x16.png">
<link rel="manifest" href="https://www.changsub214.github.io/site.webmanifest">
<link rel="mask-icon" href="https://www.changsub214.github.io/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->
